@{
    ViewData["Title"] = "Greetings!";
}

<div class="text-center">
    <h1 class="display-4">Say Hi!</h1>
    <input id="name"/>
    <button onclick="alert('Hello, ' + $('#name').val())">Greet</button>
</div>
